* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: system-ui;
  --green-color: #059669;
  --grey-color: #e2e8f0;
  --gold-color: #f7ad2d;
  --boxshadow: 2px 2px 4px 1px rgb(0 0 0 / 10%);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.yourGrid,
.opponentGrid {
  height: 350px;
  width: 350px;
  border: solid lightskyblue 0.5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.footer {
  display: flex;
  justify-content: space-around;
}

.shipCell {
  border: solid blue 1.5px;
  cursor: pointer;
}

.emptyCell {
  border: solid lightskyblue 0.5px;
  cursor: pointer;
}

.missCell {
  border: solid lightskyblue 0.5px;
  cursor: pointer;
  background-color: var(--grey-color);
}

.hitShip {
  background-color: red; /* Example styling */
}
